html, body {
  margin: 0;
  width: 100%;
  height: 100%;
  font-family: arial;
  text-align: center;
  max-width: 600px;
}

* {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
}

.item .arrow img {
  width: 100%;
}

.H5FullscreenPage .music {
  right: 2.6666666667vw;
  top: 2.6666666667vw;
  width: 7.2vw;
  height: 7.2vw;
  background-size: 7.2vw;
}

.item1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  background: url(../images/img_bg.png) top center;
  background-size: cover;
}
.item1 .qt_logo {
  position: absolute;
  top: 5.6vw;
  left: 5.6vw;
}
.item1 .qt_logo img {
  width: 32.8vw;
}
.item1 .qt_slogan {
  margin-top: 10.6666666667vw;
  width: 90vw;
  z-index: 99 !important;
}
.item1 .qt_slogan img {
  width: 100%;
}
.item1 .qt_word {
  align-self: center;
  width: 60.6666666667vw;
  height: 66.1333333333vw;
  margin-top: -6.4vw;
  background: url(../images/img_circle.png) center center;
  background-size: cover;
  z-index: 98 !important;
}
.item1 .qt_word img {
  margin-top: 17.0666666667vw;
  width: 45.8666666667vw;
}
.item1 .qr_code {
  width: 20vw;
  height: 20vw;
  margin-top: 6.4vw;
  align-self: center;
  text-align: center;
}
.item1 .qr_code img {
  width: 100%;
}

.about, .jobs {
  background: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}
.about .header_bg, .jobs .header_bg {
  background: url(../images/banner.png) center center;
  background-size: cover;
  width: 100vw;
  height: 36.5333333333vw;
}
.about .header_bg h4, .jobs .header_bg h4 {
  color: #fff;
  font-size: 5.8666666667vw;
  line-height: 36.5333333333vw;
  font-weight: 400;
}
.about .header_logo, .jobs .header_logo {
  width: 8vw;
  height: 6.6666666667vw;
  margin-top: 4vw;
}
.about .header_logo img, .jobs .header_logo img {
  width: 100%;
}
.about .profile, .jobs .profile {
  padding: 1.8666666667vw 4vw;
}
.about .profile > p.align_left, .jobs .profile > p.align_left {
  text-align: left;
  margin: 4.8vw 0;
  text-indent: 2em;
  font-size: 3.2vw;
  font-weight: 300;
  color: #313131;
  line-height: 5.0666666667vw;
}
.about .profile > p.align_left span, .jobs .profile > p.align_left span {
  font-weight: 500;
  color: #009196;
}
.about .profile > h5, .jobs .profile > h5 {
  margin-top: 0 1.2vw;
  font-size: 2.6666666667vw;
  color: #00b289;
}
.about .profile > p.info, .jobs .profile > p.info {
  line-height: 4.8vw;
  color: #313131;
  font-size: 2.4vw;
}

.jobs .jobs_btn {
  width: 100%;
  padding: 5.6vw 0;
  background: url(../images/embellish.png) top center no-repeat;
  background-size: 80%;
}
.jobs .jobs_btn .btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 48.8vw;
  height: 14.6666666667vw;
  margin: 0 8.8vw 2.1333333333vw 8.8vw;
  color: #fff;
  background-image: linear-gradient(120deg, #89c997, #009e96);
  border-radius: 8vw;
}
.jobs .jobs_btn .btn h5 {
  margin-bottom: 1.3333333333vw;
  font-size: 4vw;
}
.jobs .jobs_btn .btn p {
  font-size: 2.9333333333vw;
}
.jobs .jobs_btn .btn.flex_center {
  margin-left: auto;
  margin-right: auto;
}
.jobs .jobs_btn .btn.flex_start {
  float: left;
}
.jobs .jobs_btn .btn.flex_end {
  float: right;
}
.jobs .width_img {
  position: relative;
  width: 100%;
}
.jobs .width_img .triangle {
  position: absolute;
}
.jobs .width_img .triangle-1 {
  width: 0;
  top: 2.9333333333vw;
  left: 2.9333333333vw;
  border: 8px solid;
  border-top-width: 12px;
  border-right-width: 8px;
  border-bottom-width: 12px;
  border-left-width: 8px;
  transform: rotate(57deg);
  border-color: #c490bf transparent transparent transparent;
}
.jobs .width_img .triangle-2 {
  width: 0;
  top: 10.9333333333vw;
  right: 2.9333333333vw;
  border: 8px solid;
  border-top-width: 18px;
  border-right-width: 10px;
  border-bottom-width: 18px;
  border-left-width: 10px;
  transform: rotate(20deg);
  border-color: #f8b551 transparent transparent transparent;
}
.jobs .width_img .triangle-3 {
  width: 0;
  top: 106.6666666667vw;
  right: 6.6666666667vw;
  border: 8px solid;
  border-top-width: 12px;
  border-right-width: 8px;
  border-bottom-width: 12px;
  border-left-width: 8px;
  transform: rotate(100deg);
  border-color: #acd598 transparent transparent transparent;
}
.jobs .width_img .triangle-4 {
  width: 0;
  top: 114.6666666667vw;
  left: 2.6666666667vw;
  border: 8px solid;
  border-top-width: 8px;
  border-right-width: 4px;
  border-bottom-width: 8px;
  border-left-width: 4px;
  transform: rotate(30deg);
  border-color: #00a0e9 transparent transparent transparent;
}
.jobs .width_img .eveirment_ct {
  position: relative;
  width: 80vw;
  left: 50%;
  margin-left: -40vw;
  padding-top: 5.3333333333vw;
  text-align: left;
  overflow: hidden;
}
.jobs .width_img .eveirment_ct .imagec_ct {
  width: 480vw;
  transition: all .4s ease-in;
}
.jobs .width_img .eveirment_ct .imagec_ct li {
  display: block;
  float: left;
  width: 80vw;
}
.jobs .width_img .eveirment_ct .imagec_ct li img {
  width: 100%;
  display: block;
}
.jobs .width_img .eveirment_ct .imagec_ct li img:first-child {
  margin-bottom: 1.0666666667vw;
}
.jobs .width_img .arrow_width {
  width: 14px;
  height: 14px;
  position: absolute;
  top: 50%;
  z-index: 9999;
  border: 1px solid;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.jobs .width_img .arrow_right {
  right: 2%;
  border-color: transparent #1aa696 #1aa696 transparent;
  animation: toright 1.5s .2s ease infinite;
  -webkit-animation: toright 1.5s .2s infinite;
}
.jobs .width_img .arrow_left {
  left: 2%;
  border-color: transparent transparent #1aa696 #1aa696;
  animation: toleft 1.5s .2s ease infinite;
  -webkit-animation: toleft 1.5s .2s infinite;
}
.jobs .bubble_ct {
  position: absolute;
  top: 37.8666666667vw;
  left: 50%;
  padding: 0.5333333333vw 2.6666666667vw;
  border-radius: 2.6666666667vw;
  background: rgba(255, 255, 255, 0.4);
  margin-left: -6.6666666667vw;
}
.jobs .bubble_ct .bubble {
  width: 1.6vw;
  height: 1.6vw;
  margin: 0 0.5333333333vw;
  border: 1px solid #009196;
  border-radius: 50%;
  float: left;
  transition: all .3s ease-in;
}
.jobs .bubble_ct .bubble.active {
  background: #009196;
}
.jobs .job_info {
  padding: 5.8666666667vw 4vw 2.9333333333vw 4vw;
}
.jobs .job_info p {
  align-items: center;
  text-align: left;
  margin: 2.6666666667vw 0;
  font-size: 3.2vw;
  font-weight: 300;
  color: #313131;
  line-height: 5.6vw;
}

.job_detail .header_bg {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  background: url(../images/banner.png) center center;
  background-size: cover;
  width: 100vw;
  height: 36.5333333333vw;
}
.job_detail .header_bg h4 {
  font-size: 5.8666666667vw;
  line-height: 8.8vw;
  font-weight: 400;
}
.job_detail .header_bg p {
  font-size: 2.9333333333vw;
}
.job_detail .back_menu {
  position: absolute;
  top: 2.6666666667vw;
  left: 2.6666666667vw;
  width: 4.8vw;
  height: 4.8vw;
  padding: 1.0666666667vw 1.3333333333vw 1.0666666667vw 0.8vw;
  border: 1px solid #fff;
  border-radius: 50%;
}
.job_detail .back_menu img {
  width: 100%;
}
.job_detail .job_img {
  margin-bottom: 3.2vw;
}
.job_detail .job_img img {
  width: 43.2vw;
}
.job_detail .send_ct {
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.job_detail .send_ct a {
  text-decoration: none;
  color: #fff;
}
.job_detail .send_ct .send_btn {
  width: 29.3333333333vw;
  height: 9.8666666667vw;
  color: #fff;
  line-height: 9.8666666667vw;
  font-size: 3.2vw;
  background: #32b16c;
  border-radius: 4.9333333333vw;
}
.job_detail .send_ct .send_btn:active {
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.3);
  text-decoration: none;
  background-color: #43c27c;
  color: #d4d4d4;
  -webkit-transition-duration: 0s;
  transition-duration: 0s;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.2);
}

.end {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  color: #fff;
  background: url(../images/end_bg.png) top center;
  background-size: cover;
}
.end .endword {
  height: 38.4vw;
  padding-bottom: 4.8vw;
  border-bottom: 2px solid #fff;
}
.end .endword h5 {
  font-size: 4.2666666667vw;
  line-height: 9.6vw;
}
.end .endLogo {
  margin: 5.8666666667vw 0;
  width: 16vw;
  height: 16vw;
}
.end img {
  width: 100%;
}
.end .bottom_word {
  height: 20.5333333333vw;
}
.end .bottom_word h5 {
  font-size: 4.2666666667vw;
}
.end .bottom_word h2 {
  font-size: 7.2vw;
  line-height: 17.0666666667vw;
}

/*# sourceMappingURL=index.css.map */
